        body{
            background-color: rgb(37, 27, 27);
        }
        .title{
            background-color: rgb(33, 30, 30);
            height: 250px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 96px;
            color: white;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }
        h1{
            color: white;
            font-family: 'Courier New', Courier, monospace;
        }
        h2{
            color: white;
            font-family: 'Courier New', Courier, monospace;
        }
        p{
            color: white;
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
        }