body{
            background-color: black;
            color: white;
        }
        .title{
            height: 400px;
            background-color: rgb(49, 46, 46);
            color: white;
            font-size: 96px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        #email{
            width: 150px;
            height: 20px;
            margin-top: 75px;
            margin-left: 40px;
        }
        #commentaire{
            height: 270px;
            width: 150px;
            margin-top: 40px;
            margin-left: 20px;
        }