body {
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        .bar {
            width: 35px;
            height: 5px;
            background-color: rgb(255, 255, 255);
            margin: 6px 0;
        }
        .videoplay {
            text-align: center; 
            margin: 20px 0; 
        }
        video {
            width: 100%;
            max-width: 1000px;
            height: auto;
            object-fit: cover;
        }
        .menuicon {
            float: right;
            cursor: pointer;
            margin: 10px 20px;
        }
        .menu {
            display: none;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 20px;
            margin-right: 40px;
            width: 90%;
        }
        .menubar {
            background-color: rgb(14, 14, 14);
            height: 70px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .menu a {
            font-size: 18px;
            text-decoration: none;
            color: rgb(255, 255, 255);
            margin-left: 40px;
            float: right;
        }
        .image {
            display: flex;
            gap: 10px;
            margin-left:230px ;
            flex-wrap: wrap;
            padding: 20px;
        }
        .image img {
            border-radius: 20px;
            cursor: pointer;
        }
        .click {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 20px;
        }
        .click div {
            background-color: rgb(35, 34, 35);
            border-radius: 25px;
            width: 700px;
            max-width: 1000px;
            position: relative;
            margin: 20px;
            display: none;
        }
        .click img {
            border-radius: 25px;
            width: 100%;
            height: auto ;
        }
        .click p {
            position: absolute;
            color: white;
            margin: 0;
            padding: 20px;
        }
        .click .title {
            font-size: 40px;
            margin-top: 20px;
        }
        .click span {
            font-size: 25px;
        }
        .click ul {
            font-size: 27px;
            list-style-type: none;
            padding: 0;
            margin: 20px 0;
            float: right;
            margin-right: 40px;
            list-style-type:square;
        }
        .click li {
            cursor: pointer;
        }
        #meat:hover {
            color: rgb(136, 0, 0);
        }
        #tomato:hover {
            color: rgb(255, 0, 0);
        }
        #lettuce:hover {
            color: rgb(59, 239, 74);
        }
        #cheese:hover {
            color: rgb(251, 255, 0);
        }
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        footer{
            background-color:rgb(41, 40, 40);
            text-align: center;
        }
        footer div{
            font-size: 25px;
        }
        footer span{
            font-size: 15px;
           
        }